/* General Styles */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 20px;
}

/* Form Styles */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form .form-label {
    font-weight: bold;
}

form input {
    margin-bottom: 15px;
}

/* Table Styles */
.table {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table th {
    background-color: #007bff;
    color: white;
}

.table td {
    text-align: center;
}

.table tr:hover {
    background-color: #f1f1f1;
}

/* Button Styles */
.btn {
    font-size: 16px;
    padding: 10px 20px;
}
fas fa-trash{
    color: red;

}
